.article-type{
    background: slategrey;
    color: white;
    padding: 10px;
    font-size: 22px;
}
h6{
    margin-bottom: 0!important;
    cursor: pointer;
}
ul li {
    list-style-type: none;
}
.publish-date{
    font-size: 10px;
    margin-bottom: 15px;
    color: grey;
}